@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    padding-top: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #FFFFFF;
}

.cabecalho {
    background-color: #1B263B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;


}

.cabecalho-imagem {
    height: 72px;

}

.cabelho-menu {
    display: flex;
    align-items: center;
    gap: 28px;
}

.cabecalho-botao-login {
    padding: 12px;
    border-radius: 8px;
    background-color: #3D5470;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.6px
}

.cabecalho-botao-login:hover {
    background-color: #69819c;

}


.cabecalho-menu-item {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    color: #69819c;

}

.conteudo {
    background-color: #E0E1DD;
    margin-bottom: 24px;
    padding-top: 18px;
    padding-left: 24px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

.conteudo-principal-escrito-titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    color: #1B263B;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
}

.conteudo-principal-escrito-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #1B263B;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.6px
}

.conteudo-principal-imagem {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-right: 24px;
    height: 330px;
}

.conteudo-motivos {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-motivos-titulos {
    padding-top: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1B263B;
}

/*Cards Motivos*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

/**/



.conteudo-funcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.conteudo-funcoes-titulo {
    padding-top: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1B263B;
}

.conteudo-funcoes-paragrafo {
    padding-top: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}

.conteudo-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.conteudo-perguntas-titulo {
    padding-top: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1B263B;
}

.conteudo-perguntas-paragrafo {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}


.rodape {
    background-color: #1B263B;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rodape-paragrafo {

    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 10px;
    color: #FFFFFF;
    text-align: left;

}

.rodape-imagem {
    height: 28px;
}