* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgba(224, 225, 221, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  width: 60%;
  height: 70%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}

.inputs {
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
}
.button-entrar {
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(61, 84, 112, 1);
  color: #ffff;
}
.button-entrar:hover {
  background-color: rgba(27, 38, 59, 1);
}
.forgot-password {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.article-mantenha-me-conectado {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.lateral-box {
  width: 30%;
  height: 100%;
  background-color: rgba(27, 38, 59, 1);
}
